.idea/*
*.iml
out/*
.target/*


#Для того чтобы в репозитории не отслеживался всякий мусор, не забывайте добавлять .gitignore.
#В нём должны игнорироваться файлы идеи (правила *.iml и .idea), папки для автогенерируемых
#результатов сборки (out, позже - target). Этот файл должен находиться в корне вашего репозитория,
#а сам репозиторий должен быть инициализирован в корне вашего проекта. Т.е. открывая репозиторий
#вы должны сразу видеть папку src. Если вы забыли проигнорировать какие-либо файлы и они попали
#в репозиторий, используйте команду git rm.